/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-oct-2015, 16:46:19
    Author     : End User
*/

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.about_them{
    margin: 0px;
    background-color: rgba(255,243,188,0.8);
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
}

header{
    height: 20rem;
    background: url('../img/portada.jpg') no-repeat fixed center;
    background-size: 100%; 
}

header #menucontainer{
    width: 100%;
    height: 8rem;
    background-color: rgba(255,243,188,0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer{
    flex-grow: 1;
}

div[id^=tab]{
    display: none;
}

#responsiveMenuContainer{
    display: none;
    width: 100%;
    height: 8rem;
    background-color: rgba(255,243,188,0.8);
}

#responsiveMenuContainer .menuicon{
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 3rem;
    padding-left: 3rem;
    color: gray;
}

#responsiveMenuContainer .menuicon:hover{
    cursor:pointer;
}

ul.responsiveMenu{
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: none;
}

ul.responsiveMenu li{
    color: gray;
    font-size: 3rem;
    background-color: lightgray;
    text-align: center;
    padding: 1rem;
}

ul.responsiveMenu li:hover{
    cursor: pointer;
    color: lightgray;
    background-color: gray;
}

#menucontainer .menu{
    text-align: center;
    flex-grow: 5;
    display: flex;
}

#menucontainer .menu div{
    padding: 5px;
    flex-grow: 1;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: gray;
}

#menucontainer .menu div:hover{
    cursor: pointer;
    text-decoration: underline;
}

#content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    margin: 0 auto;
}

#content .titulo{
    width: 80%;
    border-radius: 20%;
    text-align: center;
    font-size: 5rem;
    margin-top: -4rem;
    color: white;
    font-weight: bold;
}

#content .titulo div{
    width: 50%;
    border-radius: 25px;
    border:0;
    margin: 0 auto;
    background: #EB9F17;
    padding: 5px;
}

#content .titulo div span{
    overflow: visible;
    border-radius: 10%;
}

#content #contenido{
    height: 100%;
    margin: 2rem;
    width: 100%;
}

/*---------------------------------------------- COUPLE ---------------------------------------------*/

#content .couple_content{
    flex-direction:column;
    height: 100%;
}

#content .couple_content .sub_countdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#content .couple_content .sub_countdown #countdown2{
  flex-grow:1;
  height: 50%;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  display:none;
}

#content .couple_content .sub_countdown #countdown2 p {
    display: inline-block;
    color: #FFA500;
    font-size: 2rem;
    color: gray;
    margin: 0px;
}

#content .couple_content .sub_countdown #countdown2 p:nth-child(even) {
    padding-right: 1rem;
    padding-left: 0.2rem;
    font-weight: bold;
}

#content #couple{
    text-align: center;
    flex-grow: 3;
    display: flex;
    flex-direction:row;
    height: 100%;
}

#content #couple .about_them{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow:1;
    height: 100%;
}

#content #couple .bride{
   order: 1;
}

#content #couple .groom{
   order: 3;
}

#content #couple .couple_middle{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    order: 2;
    padding-left: 2rem;
    padding-right: 2rem;
}

#content #couple .couple_middle #countdown {
  flex-grow:1;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#content #couple .couple_middle #countdown div p {
    display: inline-block;
    color: #FFA500;
    font-size: 2rem;
    color: gray;
    margin: 0px;
}

#content #couple .couple_middle #countdown div :nth-child(even) {
    padding-right: 1rem;
    padding-left: 0.2rem;
    font-weight: bold;
}

#content #couple .couple_middle .xAnd{
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size: 20rem;
    color: #C48513;
    flex-grow: 2;
    font-family: 'Playfair Display', serif;
    height: 50%;
}

#content #couple .about_them .aboutContainer{
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30rem;
    height: 100%;
}

#content #couple .about_them .aboutContainer .image_container{
   overflow: hidden;
   height: 70%;
   width: 100%;
}

#content #couple .about_them .aboutContainer .image_container img{
   width: 150px;
   border-radius: 100%;
}

#content #couple .about_them .aboutContainer .nombre{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #C48513;
}

#content #couple .about_them .aboutContainer .separator{
    width: 80%;
    height: 1rem;
    border-bottom: 0.2rem solid black;
}

#content #couple .about_them .aboutContainer .about{
    width: 80%;
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

/*---------------------------------------------- PARTY ---------------------------------------------*/

#content .party_content{
    height: 100%;
    flex-direction: column;
}

#content .party{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    color: gray;
    flex-grow: 5;
}

#content .party .about_party{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 0px;
    text-align: center;
    width: 30%;
}

#content .party .middle_container{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

#content .party .middle_container div{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
}

#content .party .middle_container .icono{
    color: #C48513;
    font-size: 10rem;
}

#content .party .middle_container .mensaje{
    font-size: 3.5rem;
    font-weight: bold;
}

#content .party .middle_container .ciudad{
    font-size: 1.8rem;
}

#content .party .middle_container div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#content .party .about_party .title{
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: #C48513;
    border-bottom: solid 3px #C48513;
}

#content .party .about_party > div{
    background-color: rgba(255,243,188,0.8);
    padding: 2rem;
    width: 100%;
}

#content .party .about_party ul{
    font-size: 1.6rem;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#content .party .about_party ul li{
    padding-top: 2rem;
    text-align: center;
}

#content .party .about_party ul span{
    font-weight: bold;
    color: #C48513;
}

#content .party_specs{
    text-align: center;
    color: #C48513;
    font-size: 2.5rem;
    padding-top: 1rem;
    flex-grow: 1;
}

#content .party_specs span{
    color: gray;
    font-weight: bold;
}

#content .party_specs i{
    margin-right: 1rem; 
}

#content .party_specs i{
    margin-left: 3rem; 
}

#content .party_specs p{
    color: #B0B0B0; 
}

#content .party_specs p:hover{
    color: gray; 
    text-decoration: underline;
    cursor: pointer;
}

/*---------------------------------------------- GALLERY ---------------------------------------------*/

div.gallery{
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.gallery .gallery_row{
  display: flex;
  flex-direction: row;
  flex: 1;
}

div.gallery .gallery_row .gallery_image{
  display: flex; 
  width: 25%;
  max-height: 200px;
  overflow: hidden;
  border: 8px solid rgb(255,243,188);
}

div.gallery .gallery_row .gallery_image img{
  max-width: 100%;
  image-orientation: from-image;
}

/*---------------------------------------------- CONTACT ---------------------------------------------*/

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%; 
}

.contact .avisanos{
    color: #C48513;
    font-size: 4rem;
}

.contact .telefono i{
    color: #C48513;
    font-size: 8rem;
    margin-right: 2rem; 
}

.contact .telefono{
    color: gray;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

/*---------------------------------------------- MEDIA QUERIES ---------------------------------------------*/

/*---------------------------------------------- MAIN PAGE ---------------------------------------------*/

@media (max-width: 1085px) {
    
    header{
        height: auto;
    }
    
    #content .titulo {
        margin: 0px;
        padding-top: 2rem;
    }
    
    #content .titulo div{
        width: 60%;
    }
    
    #content #couple .couple_middle #countdown {
        flex-direction: column;
    }
    
    #content #couple .couple_middle #countdown div{
        flex-direction: column;
        padding-top: 2.5rem;
    }
}

@media (max-width: 945px) {
    
    #content .couple_content .sub_countdown #countdown2{
        display:flex;
    }
    
    #content .titulo div{
        width: 60%;
    }

    #content #couple .couple_middle {
        flex-direction: row;
    }
    
    #content #couple .couple_middle #countdown div {
        display: none;
        height:0px;
    }
    
    #content #couple .couple_middle .xAnd{
        height: 100%;
        font-size: 10rem;
    }
}

@media (max-width: 790px) {
    
    #content .titulo div{
        width: 80%;
    }
    
}

@media (max-width: 730px) {
    
    #content #couple{
        flex-direction:column;
    }
    
    #content #couple .about_them{
        width: 100%;
    }
    
    #content #couple .about_them .aboutContainer{
        width: 100%;
    }
    
    #content #couple .couple_middle .xAnd{
        width: 100%;
        flex-direction: column;
        height:auto;
    }
}

@media (max-width: 610px) {
    
        #content .titulo div{
        width: 100%;
    }
}

@media (max-width: 550px) {
    
    header #menucontainer{
        display: none;
    }
    
    #responsiveMenuContainer{
        display: flex;
    }
}

@media (max-width: 465px) {
    #content .couple_content .sub_countdown #countdown2{
    flex-direction: column;
  }
}

@media (max-width: 400px) {
    #content{
    width: 100%;
  }
}


/*---------------------------------------------- PARTY ---------------------------------------------*/

@media (max-width: 1550px) {
    #content .party{
        width: 90%;
    }
}

@media (max-width: 1200px) {
    #content .party{
        width: 100%;
    }
}

@media (max-width: 890px) {
    
    #content .party_content{
        height: auto;
    }
    
    #content .party{
        flex-direction: column;
        height: auto;
    }
    
    #content .party .about_party{
        width: 100%;
    }
    
    #content .party .middle_container{
        width: 100%;
    }
    
    #content .party .about_party > div{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 720px) {
    
    #content .party_specs span{
        display: block;
    }
}

@media (max-width: 535px) {
    
    #content .party_specs i{
        display: block;
        font-size: 5rem;
        margin: 0px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}